@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');

/* -------------------------------Colors */

.bg-color-name-title {
    background-color: #676767;
}

/* -------------------------------Heading */

#landing-view {
    background-attachment: fixed;
    background-image: url("../images/me.jpg");
    background-size: cover;
    z-index: 1;
}


header {
    margin: 0;
}

.heading {
    margin-left: 50px;
}

.logo {
    background: url("../images/me.jpg") no-repeat fixed;
    background-size: contain;
    min-height: 360px;
    -webkit-transition: all .5s ease-in-out;
}

.name {
    font-family: "Exo", sans-serif;
    font-weight: 100;
    font-size: 46px;
    margin-top: 50px;
    color: #D3D3D3;
}

.title {
    font-family: "Roboto", sans-serif;
    font-weight: 200;
    font-size: 28px;
    margin-top: 20px;
    margin-bottom: 90px;
    color: #D3D3D3;
}